/*Fonts*/ /*Al link principal lo copio en el html*/
/* Luego Especifico el tipo de font copiando Poppins: CSS classes*/
/*Establezco los valores predeterminados en cero*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Forma de escritorio*/

body{
    font-family: "Poppins", sans-serif;
        
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{ 
    display: flex;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #303030;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #df3b04fa;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;    
}

.menu label{
    cursor: pointer;
    
}

.bg{
    position: absolute; /*esto es para colocarla en la esquina*/
    width: 600px;
    z-index: -1; /*para posicionarlo atras de todos los elementos*/
    right: 0px; /*me lleva la imagen hacia la derecha*/
}

.esp{
    position: absolute;
    top: 700px;
    bottom: 0px;
    width: 350px;
}

.header-info{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header-txt{
    width: 100%;
    padding-right: 35px;

}


.header-txt h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
    /*text-transform: capitalize; /*para que las primeras palabras siempre empiecen con mayuscula*/

}

.header-txt p{
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
    text-align: justify;

}

.header-img{
    width: 50%;

}

.header-img img{
    width: 300px;

}

.info {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}


hr { 
    border: 1px solid #EEE;
}

.footer {
    padding: 100px 0; /*arriba, abajo, izq, derecha*/
}

.footer-links {
    display: flex;
    justify-content: space-between; /*separacion entre los elementos*/
}

.link h3 {
    font-size: 20px;
    color: #303030;
    margin-bottom: 20px;
}

.socials img {
    margin-right: 15px; /*separacion de las redes sociales*/
}

a {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #545454;
    text-align: center;
}
#copyright{
    font-style: italic;
}


/*Responsive*/
@media(max-width: 991px) {
.menu {
    padding: 30px;
    margin-right: 50px; /*Para que el icono de menu se vea mas en la pantalla*/
    
}
.menu label {
    display: initial;
}

.menu .navbar {
    position: absolute;
    top: 100%;
    left: 30%;
    /*Video:
    right: 0;
    left: 0;*/
    background-color: #303030cc;
    display: none;
}

.menu .navbar ul li {
    width: 100%;
}

.menu .navbar ul li a {
    color: #ffffff;
}

.menu .navbar ul li a:hover {
    color: #e7b70d;
}

#menu:checked ~ .navbar {
    display: initial;
}

.bg {
    width: 350px;
}

.esp {
    display: none;
}

.header-info {
    flex-direction: column;
    padding: 30px;
}

.header-txt {
    width: 100%;
    text-align: center;
    padding: 0;
}

.header-txt h1 {
    font-size: 40px;
    line-height: 50px;
}

.header-img {
    width: 100%;
    text-align: center;
    padding-top: 35px;
}

.header-img img {
    width: 300px;
}

iframe{
    width: 90%;
    height: 80%;
}

.bg-3{
    display: none;
}

.footer {
    padding: 30px;
}
.footer-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.socials {
    margin-bottom: 25px;
}    
}

@media(max-width: 1557px) {
    .esp {
        display: none;
    }
}
