/*Fonts*/ /*Al link principal lo copio en el html*/
/* Luego Especifico el tipo de font copiando Poppins: CSS classes*/
/*Establezco los valores predeterminados en cero*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Forma de escritorio*/

body{
    font-family: "Poppins", sans-serif;
        
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{ 
    display: flex;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #303030;
    font-size: 25px;
    font-weight: 800;
    
}

.menu .container .logo:hover {
    color: #FF9F0D;
    background-color: #d3a409;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none; /* Elimina el subrayado */
}


.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #df3b04fa;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;    
}

.menu label{
    cursor: pointer;
    
}

.bg{
    position: absolute; /*esto es para colocarla en la esquina*/
    width: 600px;
    z-index: -1; /*para posicionarlo atras de todos los elementos*/
    right: 0px; /*me lleva la imagen hacia la derecha*/
}

.esp{
    position: absolute;
    top: 700px;
    bottom: 0px;
    width: 200px;
    z-index: -1;
}

.header-info{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header-txt{
    width: 50%;
    padding-right: 35px;
}

.header-txt h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
    /*text-transform: capitalize; /*para que las primeras palabras siempre empiecen con mayuscula*/
    text-align: center;
}

.header-txt p{
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
    text-align: justify;
}

.btn-1{
    display: inline-block;
    background-color: #FF9F0D;
    padding: 13px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /*sombra centrada*/
    cursor: pointer;

}

.btn-1:hover{
    background-color: #ee900396;
}

#btn-zoom{
    display: inline-block;
    background-color: #FF9F0D;
    padding: 13px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /*sombra centrada*/
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#btn-zoom:hover {
    transform: scale(1.1); /* Aumenta tamaño */
    box-shadow: 0 10px 20px rgba(255, 102, 0, 0.5); /* Sombra animada */
    background-color: #ee9003b7;
}




.header-img{
    width: 50%;

}

.header-img img{
    width: 400px;
    border-radius: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-img img:hover {
    transform: scale(1.05) rotate(-1deg); /* Aumenta el tamaño y gira */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}

.info {
    padding: 100px;
    display: flex;
    justify-content: space-between;

}



.info-1{
    width: 300px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.info-1:hover{
    transform: translateY(-10px); /* Eleva la tarjeta */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}

.info-1 img{
    width: 35px;
}

.info-1 h3{
    font-size: 18px;
    color: #303030;
    margin-bottom: 10px;
}

.info-1 p{
    font-size: 16px;
    color: #545454;
}

.nosotros {
    position: relative;
}

.bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    max-width:fit-content ;
    max-height: 160%;
    /*width: 400px;*/
    z-index: -1;
}

.nosotros-info {
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.nosotros img{
    width: 50%;
    padding-right: 20px;
}

.nosotros-img img{
    width: 500px;
}

.nosotros-txt {
    width: 50%;
    text-align: center;
}

.nosotros-txt span{
    font-size: 16px;
    color: #FF9F0D;
    font-weight: 700;
    margin-bottom: 25px;
}

.nosotros-txt h2{
    font-size: 45px;
    color: #303030;
    margin-bottom: 30px;
    text-align: center;
}

.zoom-animation {
    display: inline-block;
    animation: zoomIn 2s ease-in-out infinite; /* Animación en bucle */
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8); /* Más pequeño */
        opacity: 0; /* Invisible */
    }
    50% {
        transform: scale(1.1); /* Más grande */
        opacity: 1; /* Totalmente visible */
    }
    100% {
        transform: scale(1); /* Tamaño normal */
        opacity: 1; /* Permanece visible */
    }
}



.nosotros-txt p{
    font-size: 18px;
    color: #545454;
    margin-bottom: 50px;
}

#animated-paragraph {
    display: inline-block; /* Para que la animación funcione bien */
    animation: fadeAndMove 2s ease-in-out infinite; /* Aplica la animación */
}

/* Definición de la animación */
@keyframes fadeAndMove {
    0% {
        opacity: 0; /* Comienza invisible */
        transform: translateY(20px); /* Mueve hacia abajo */
    }
    50% {
        opacity: 1; /* Aparece completamente */
        transform: translateY(0); /* Posición original */
    }
    100% {
        opacity: 0; /* Desaparece nuevamente */
        transform: translateY(-20px); /* Mueve hacia arriba */
    }
}


.bg-3{
    margin-top: 320px;
    position: absolute; /*esto es para colocarla en la esquina*/
    max-width:fit-content ;
    max-height: 100%;
    
    z-index: -1; /*para posicionarlo atras de todos los elementos*/
    bottom:auto;
    right: 0; /*me lleva la imagen hacia la derecha*/
}

.products {
    padding: 30px 0;
    text-align: center;
}

.products h2 {
    font-size: 45px;
    color: #303030;
    margin-bottom: 30px;
}

.products p{
    font-size: 18px;
    color: #545454;
    margin-bottom: 70px;
    padding: 0 200px;
}

.product-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*divide las columnas en 3*/
    grid-auto-rows: auto; /*para que se posicionen en hileras, debajo de cada una*/
    grid-gap: 3rem;
}

.product {
    padding-bottom: 35px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.product:hover {
    transform: translateY(-10px); /* Eleva la tarjeta */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}

.product img {
    width: 100%;
    height: min-content;
    border-radius: 25px 25px 0 0 ;
}

.product h3 {
    font-size: 20px;
    color: #303030;
    margin-top: 15px;
}

.product h3:hover{
    color: #FF9F0D;
}



.product p {
    font-size: 16px;
    padding: 30px;
    color: #545454;
    margin: 0;
}

#btn-product{
    justify-content: last baseline;
    margin-top: auto;
}

.product span {
    background-color: #FF9F0D;
    padding: 10px;
    color: #ffffff;
    border-radius: 15px;
}

hr { 
    border: 1px solid #EEE;
}

.footer {
    padding: 100px 0; /*arriba, abajo, izq, derecha*/
}

.footer-links {
    display: flex;
    justify-content: space-between; /*separacion entre los elementos*/
}

.link h3 {
    font-size: 20px;
    color: #303030;
    margin-bottom: 20px;
}

.socials img {
    margin-right: 15px; /*separacion de las redes sociales*/
}

a {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #545454;
    text-align: center;
}
#copyright{
    font-style: italic;
}

/*Responsive*/

@media (max-width: 991px) and (min-width: 840px) {

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 30%;
        /*Video:
        right: 0;
        left: 0;*/
        background-color: #303030d2;
        display: none;
    }

    #menu-icono img{
        color: #d81111;
        right: 10%;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
    }

    .logo{
        margin-left: 10%;
        margin-top: 5%;
    }

    .menu .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        position: absolute;
        right: 0;
    }

    .menu .navbar ul li {
        width: 60%;
    }


    .menu .navbar ul li a {
        color: #ffffff; /* Color inicial del texto */
        text-decoration: none; /* Elimina subrayado */
        transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
    }
    
    .menu .navbar ul li {
        width: 100%;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .menu .navbar ul li a:hover {
        background-color: #d3a409; /* Fondo más oscuro */
        color: #000000; /* Cambia el color del texto */
    }

    .menu .navbar ul li a:active {
        color: #e0d9be;
        background-color: #e2980d;
    }
    

    #menu:checked ~ .navbar {
        display: initial;
    }

    .bg {
        width: 350px;
    }

    .esp {
        display: none;
    }

    .header-info {
        flex-direction: column;
        padding: 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .header-txt h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-img {
        width: 100%;
        display: flex; /* Activa Flexbox */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        padding-top: 35px; /* Espaciado superior */
    }

    .header-img img {
    width: 300px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .header-img img:hover {
    transform: scale(1.05) rotate(-1deg); /* Aumenta el tamaño y gira */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}


    .info {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .info-1 {
        margin-bottom: 20px;
    }

    .nosotros {
        padding: 30px;
    }

    .bg-2 {
        top: 20px;
        height: 110%
    }

    .nosotros-info {
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nosotros-img {
        width: 100%;
    }

    .nosotros-img img {
        width: 70%;
    }

    .nosotros-txt {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nosotros-txt .btn-1 {
        width: 30%;
        
    }

    .nosotros-txt span {
        color: #303030;
    };
    .nosotros-txt h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .nosotros-txt p {
        margin-bottom: 20px;
    }

    .product-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
        gap: 20px; /* Espacio entre las cards */
    }

    .product {
        /* Asegúrate de que las cards se adapten al grid */
        width: 80%; 
        margin: auto;
    }

    .footer {
        margin: 0 5rem;
    }
}


@media(max-width: 700px) {
    .menu {
        padding: 30px;
        margin-right: 50px; /*Para que el icono de menu se vea mas en la pantalla*/
        
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 30%;
        /*Video:
        right: 0;
        left: 0;*/
        background-color: #303030d2;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    /* .menu .navbar ul li a {
        color: #ffffff;
    }  */

    .menu .navbar ul li a {
        color: #ffffff; /* Color inicial del texto */
        text-decoration: none; /* Elimina subrayado */
        transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
    }
    
    .menu .navbar ul li {
        width: 100%;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .menu .navbar ul li a:hover {
        background-color: #d3a409; /* Fondo más oscuro */
        color: #000000; /* Cambia el color del texto */
    }

    .menu .navbar ul li a:active {
        color: #e0d9be;
        background-color: #e2980d;
    }
    
    
    

    #menu:checked ~ .navbar {
        display: initial;
    }

    .bg {
        width: 350px;
    }

    .esp {
        display: none;
    }

    .header-info {
        flex-direction: column;
        padding: 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .header-txt h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-img {
        
        display: flex; /* Activa Flexbox */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        padding-top: 35px; /* Espaciado superior */
    }

    .header-img {
        width: 80%;
        text-align: center;
        padding-top: 35px;
    }

    .header-img img {
        width: 200px;
    }


    .header-img img:hover {
    transform: scale(1.05) rotate(-1deg); /* Aumenta el tamaño y gira */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}


    .info {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .info-1 {
        margin-bottom: 20px;
    }

    .nosotros {
        padding: 30px;
    }

    .bg-2 {
        top: 20px;
        width: 200px;
    }

    .nosotros-info {
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nosotros-img {
        width: 100%;
    }

    .nosotros-img img {
        width: 80%;
    }

    .nosotros-txt {
        width: 100%;
    }

    .nosotros-txt span {
        color: #303030;
    };
    .nosotros-txt h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .nosotros-txt p {
        margin-bottom: 20px;
    }

    .products {
        padding: 30px;
        text-align: center;
    }

    .products h2 {
        font-size: 40px;
    }

    .products p {
        padding: 0;
        margin-bottom: 40px;
    }

    .product-info {
        grid-template-columns: repeat(1, 1fr);

    }

    /* .product{
        margin: 1rem 3rem;
    } */

    .product p {
        padding: 30px;
    }

    .bg-3{
        display: none;
    }

    .footer {
        padding: 30px;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        margin-bottom: 25px;
    }
}
@media(max-width: 1557px) {
    .esp {
        display: none;
    }
}

@media(max-width: 440px){
    
    .nosotros-img img {
        width: 100%;
    }
    
    .product{
        margin:  0.3rem;
        width: 95%;
    }
}
